.cards {
  // Reverse flex direction for even cards (2nd, 4th, 6th, etc.) on tablet and up
  & > div:nth-child(even) {
    @media (min-width: 1024px) {
      flex-direction: row-reverse;
    }
  }
}

.cardTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 0.75rem;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background: linear-gradient(90deg, var(--primary), var(--accent));
    border-radius: 2px;
  }
}

.cardDescription {
  font-size: 1rem;
}

.cardList {
  list-style: none;
  padding: 0 0 0 1.5rem;
  margin: 0;
  
  li {
    line-height: 1.6;

    @media (min-width: 1024px) {
      font-size: 0.88rem;
    }
  }
}
